
@{
    ViewData["Title"] = "Provo Restaurants";
    ViewBag.h1 = "Welcome!";
}

@*Landing page! welcome the users and put a nice image on using bootstrap*@
<div class="container">
   <h2>This site shows my Top 5 Restaurants in the Provo City area! </h2>
</div>
    <br />
<div class="container">
    <img class="center rounded" src="~/img/restaurant-plate.jpg" />
</div>