
@{
    ViewData["Title"] = "Provo Restaurants";
    ViewBag.h1 = "Submit Your Suggestions";
}

@model IS_413_Assignment4.Models.UserSuggestions

@*Make a form that submits the object of a new suggestion. make sure it it a post method *@

<form asp-action="Submit" method="post">
    <fieldset class="fieldset-auto-width">
        <legend>Add A New Suggestion</legend>

        <label asp-for="Name">Name:</label>
        <input asp-for="Name"><br><br>

        <label asp-for="RestaurantName">Restaurant:</label>
        <input asp-for="RestaurantName"><br><br>

        <label asp-for="FavoriteDish">Favorite Dish:</label>
        <input asp-for="FavoriteDish"><br><br>

        <label asp-for="PhoneNumber">Restaurant Phone:</label>
        <input asp-for="PhoneNumber" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"><br>
        <small>Format: 123-456-7890</small><br><br />

        <center>
            <input type="submit" value="Add New Suggestion" id="submit" name="submit" />
        </center>
    @*Validation for the entries shows if something is wrong*@
    </fieldset>
    <div asp-validation-summary="All"></div>
</form>